.errorMessage {
color: red;
}
.infoMessage {
color: blue;
}

.login-ribbon {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
  .agama-ribbon {
    font: bold 14px sans-serif;
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    height: 25px;
    width: 120px;
    background: #00b875;
    color: white;
  }
}


.welcomeRibbon {
  position: fixed;
  background: #08769b;
  box-shadow: 0 0 0 999px #08769b;
  clip-path: inset(0 -100%);
}


.loginCard{
  background-image: url('wave.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

body{
  background-image: url('blue-scene.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

         .button-gradient {
            background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .button-gradient:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         