.errorMessage {
color: red;
}
.infoMessage {
color: blue;
}

.login-ribbon {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
  .agama-ribbon {
    font: bold 14px sans-serif;
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    height: 25px;
    width: 120px;
    background: #00b875;
    color: white;
  }
}


.welcomeRibbon {
  position: fixed;
  background: #08769b;
  box-shadow: 0 0 0 999px #08769b;
  clip-path: inset(0 -100%);
}


body{
  background-image: url('wave.png');
}